
.main-coin{
    background: linear-gradient(rgb(111,111,111),rgb(222,222,222));
    
    height: 100vh;

}
.todo-img{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    
}
.input-text{
    padding: 8px;
    width: 25%;
    margin-top: 10px;
    background-color: beige;
    border: none;
}
h2{
    text-align: center;
    color: rgb(46, 216, 151);
}
.c-btn{
    border: none;
    padding: 10px;
    width: 15%;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgb(38, 202, 120);
    color: aliceblue;
   font-weight: bold;
   box-shadow: 3px 5px rgb(124, 121, 121);
}
.input-field{
    display: flex;
    justify-content: center;
    
}


.input-text{
    border-radius: 7px;

    
}
.c-btn:hover{
    background-color: rgb(19, 224, 98);
    color: rgb(207, 32, 32);
    box-shadow: 3px 5px rgb(124, 68, 68);

    
}
.fa-circle-plus{
    margin-top: 24px;
    position: relative;
    right: 30px;
    color: rgb(12, 190, 51);
    cursor: pointer;

}
.fa-circle-plus:hover{
    color: rgb(0, 255, 13);
}



button {font-size: 0px;min-width: 100px;min-height: 22px;}
button::after {font-size: 16px;}

button::after {
    content: "CHECK LIST";
    }
button:hover::after {
 content: "DELETE ALL";
}
.display-items{
    background-image: radial-gradient(rgb(255,255,255),rgb(151, 141, 141));
    display: flex;
    justify-content: center;
    color: black;
    
    border-radius: 5px;
    margin-top: 10px;
    padding: 7px;
  
    
}
.test-item{
   display: flex;
   justify-content: center;
   color: white;
}
.items-e-btn{

}
.fa-pen-to-square{
    color: rgb(177, 187, 41);
    cursor: pointer;
}
.fa-circle-minus{
    color: rgb(141, 19, 19);
    cursor: pointer;
}
.fa-circle-minus:hover{
    color: rgb(211, 13, 13);

}
.fa-pen-to-square:hover{
    color: rgb(228, 228, 13);
}
.display-items:hover{
    
    background-image: linear-gradient(rgb(13, 191, 197),rgb(107, 107, 107));
    color: white;
}
.fa-floppy-disk{
    margin-top: 24px;
    position: relative;
    right: 30px;
    color: rgb(12, 190, 51);
    cursor: pointer;

}
.fa-floppy-disk:hover{
    color: rgb(0, 255, 13);

}